* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

a{
    text-decoration: none;
}

button{
    border: none;
    box-shadow: none;
    background-color: transparent;
}

input{
    width: 48px;
    height: 28px;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    font-size: 18px;
}

input::placeholder{
    color: #191B22;
}

main, .TopNavBar, .footer {
    margin-left: auto;
    margin-right: auto;
}

main{
    background-color: #FAF8FF;
    width: 1280px;
    height: 1427px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 531px;
    height: 176px;
    gap: 16px;
    margin-top: 40px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #705D00;
}

header h1{
    font-weight: 900;
    font-style: Black;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: -4.8px;
    text-align: center;
}

.sub-text{
    font-size: 18px;
    line-height: 28px;
    color: #434653;
}

.TopNavBar {
    height: 72px;
    width: 1248px;
    padding: 16px 32px;
    margin-top: 16px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 10px 40px 0px rgba(25, 27, 34, 0.06);
    backdrop-filter: blur(12px);
}

.logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    vertical-align: middle;
    color: rgba(29, 78, 216, 1);

}

.menu-nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.menu-nav ul li a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: rgba(71, 85, 105, 1);
    font-weight: 500;    
}

.menu-nav ul li a:focus {
   border-bottom: 2px solid rgba(29, 78, 216, 1);
   color: rgba(29, 78, 216, 1);
   font-weight: 700;
}

.login{
    height: 40px;
    border-radius: 9999px;
    padding: 8px 24px;
    background-color: rgba(0, 50, 125, 1);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
}
.main-Lotto{
    width: 1232px;
    height: 999px;
    gap: 32px;
    display: flex;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.heading{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75px;
    color: #191B22;
}

.check-number{
    color: #434653;
}

.add-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 9999px;
    padding: 12px 24px;
    margin-top: 20px;
    background-color: #E2E2EB;
    color: #00327D;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    gap: 24px;
}

.numbers-box{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 12px;
    width: 609px;
    height: 609px;
}

.number-btn{
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.numbers-box button{
   width: 76px;
    height: 76px;
    border-radius: 12px;
    padding: 23px 28px;
    top: 532.59px;
    left: 177px;
    border-radius: 12px;
}

.purchase-section{
    display: flex;
    flex-direction: column;
    width: 705px;
    height: 999px;
    gap: 40px;
    border-radius: 32px;
    padding: 48px;
    background-color: #F3F3FC;

}

.selected-numbers{
    display: flex;
    width: 609px;
    height: 68px;
    justify-content: space-between;
}

.purchase-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 609px;
    height: 118px;
    border-radius: 24px;
    border-width: 1px;  
    padding:32px 24px 24px 24px;
    background-color: #FFFFFF;
    border: 1px solid rgba(195, 198, 213, 0.3)
}

.price-box{
    display: flex;
    width: 136px;
    height: 48px;
    gap: 16px;
    justify-content: center;
    align-items: center;    
}

.price-info{
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 48px;
    font-size: 20px;
}

.price{
    display: flex;
    flex-direction: column;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #434653;
}

.price + p {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #191B22;

}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #FCD400;
}
.purchase-form{
    display: flex;
    width: 408px;
    height: 60px;
    align-items: center;
    gap: 16px;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 50px;
    border-radius: 9999px;
    background-color: #F3F3FC;
    border: 1px solid #C3C6D5;
}

.minus{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box button{
    width: 40px;
    height: 40px;
}

.purchase-btn{
    width:254px;
    height: 60px;
    border-radius: 9999px;
    padding: 16px 32px;
    background-color: #FCD400;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #6E5C00;
    box-shadow: 0px 4px 6px -4px #705D0033;
    box-shadow: 0px 10px 15px -3px #705D0033;

}



.result-ticket-section{
    display: flex;
    flex-direction: column;
    width: 494px;
    height: 999px;
    left: 737px;

}

.result-card{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.display-number{
    display: flex;
    flex-direction: column;
    
    background-color: #00327D;
    width: 494px;
    height: 376px;
    border-radius: 32px;

}

.win-number{
    width: 79px;
    height: 28px;
    position: relative;
    top: 32px;
    left: 32px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.display-numbers-box{
    display: flex;
    flex-direction: column;
    margin: auto 32px;
    justify-content: center;
    align-items: center;
}

.main-numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 384px;
    height: 44px;
    margin-bottom: 40px;
}

.main-numbers span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    opacity: 50%;
    background-color: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border: 2px dashed #0047AB;
    color: #FFFFFF;        
}

#plus-sign{
    width: 20px;
    height: 32px;
    border: none;
    color: #FCD400;
    font-weight: 900;
    font-size: 24px;
    opacity: 100% ;
}

#bonus-number{
   border: 2px solid #FCD400;
    border-style: dashed;
    color: #FCD400;
    
}

.display-numbers-box p{
    width: 250px;
    height: 28px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #DBEAFE;

}

.display-numbers-box button{
    width: 430px;
    height: 56px;
    border-radius: 9999px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #FCD400;
    color: #6E5C00;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    box-shadow: 0px 10px 15px -3px #0000001A;

}


.ticket-list{
    width: 494px;
    height: 571px;  
    padding:32px 32px 167px 32px;
    gap: 24px;
    border-radius: 32px;
    background-color: #F3F3FC;

}

.my-lotto{
    display: flex;
    justify-content: space-between;
    width: 430px;
    height: 28px;
}

.my-lotto p{
    width: 166px;
    height: 28px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #191B22;
}

.circle{
    display: flex;
    flex-direction: column;
    width: 42px;
    height: 24px;
    border-radius: 9999px;
    padding: 4px 12px;
    background-color: #E2E2EB;
    color: #434653;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

}

.display-lotto{
    width: 430px;
    height: 236px;
    margin-top: 24px;
    padding-top: 48px;
    padding-bottom: 56px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgba(195, 198, 213, 0.4);
}

.ticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    margin-bottom: 16px;
    background: rgba(226, 226, 235, 1);

    border-radius: 9999px;
}

.no-lotto{
    width: 126px;
    height: 24px;
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #191B22;
}

.recommend{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 158px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #434653;
}
.check-result{
    width: 430px;
    height: 60px;
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    border: 2px solid #C3C6D5;
    font-weight: 570;
    font-size: 16px;
    line-height: 24px;
    color: #C3C6D5;
}

.footer{
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 24px 32px;
    border-top-width: 1px;
    background-color: #FAF8FF;
    border-top: 1px solid #757575

}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #0F172A;
}

.footer-heading + p{
    font-size: 14px;
    line-height: 20px;
    color: #64748B;
}

.footer-nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.footer-nav ul li a{
    font-size: 14px;
    line-height: 20px;
    color: #64748B;
}